<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pagina de contatos</h1>
    <p><strong>Empresa:</strong>{{ nome }}</p>
    <p><strong>Telefone:</strong>{{ fone }}</p>
    <p><strong>e-mail:</strong>{{ email }}</p>
    <p><strong>Endereço:</strong>{{ endereco }}</p>
    <p><strong>Cep:</strong>{{ cep }}</p>
    <p><strong>Cidade:</strong>{{ cidade }}</p>
    <p><strong>Estado:</strong>{{ estado }}</p>
    <h1>Entre em contato para maiores informações!!!</h1>
    <a href ="/">Voltar para página principal<a name ="Voltar"></a>
</body>
</html>